
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

html {
  font-size 16px;
  font-family: 'PT Sans', sans-serif;
  background-color: #fffff0;
}

.flex-container {
  display: flex;
}

header {
display: flex;
font-size: 14px;
font-weight: bold;
}

.logo {
  align-items: center;
}

.links {
  align-items: right;
}

.logoimage {
  padding-left: .1rem;
  padding-top: 9px;
}

.colmar {
  font-size: 2rem;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: bold;
}

.mobilenav {
  display: none;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-right: 0;
}

nav ul li {
    padding-right: 1rem;
}


nav ul li a {
    text-decoration: none;
    color: #A9A9A9;
}

nav ul li a:hover {
    color: #000000;
    cursor:pointer;
}


/*Banner*/

.button {
padding-left: 20px;
}

.banner-img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-img img {
  width: 100%;
  -webkit-box-shadow: 2px 2px 15px 5px #000000;
  box-shadow: 2px 2px 15px 5px #000000;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 3rem;
}

.banner h1 {
  font-size: 3.5rem;
  font-weight: bold !important;
  color: #4A4A4A;
  padding-left: 20px;
}

.banner h2 {
  font-size: 1.5rem;
  color: #4A4A4A;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 20px;
}

.banner button {
  width: 100%;
  background: #4A4A4A;
  color: white;
  font-family: 'PT Sans', sans-serif;
  transition: background-color 0.8s;
  padding: 1rem 0;
  border: none;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius:8px;
}

.banner button:hover {
  background: #deb887;
  cursor: pointer;
  background-color: Seagreen;
}


/*Articles*/

.flex-box {
  display: flex;
}

.keeppracticing {
  flex-basis:60%;
  flex-grow:6;
  margin-left: 24px;
  margin-right: 24px;
  margin: 2rem 1.5rem;

}


.gladwell {
  font-size: 0.9em;
  margin-top:1em;
}

.articlecontents {
  width: 60%;
  margin-left: .5rem;
  padding: 4px;
}

.keeppracticing img {
  width: 100%;
  height; auto;
}

.topiccontent {
  margin: 2rem 1.5rem;
}

.topiccontent h1 {
  margin: 2rem 0 1.5rem 0;
  font-size: 3.5rem;
  font-weight: bold !important;
  color: #4A4A4A;
}

.topiccontent p {
  font-weight: lighter;
  color: #4A4A4A;
  font-size: 1.5rem;
}

.detail {
  flex-direction: column;
  width: 65%;
  color: #4A4A4A;
  padding-left: 2rem;
  justify-content: center;
}

.classimage {
  padding: 2rem 0 1rem 1.5rem;
}

.classimage img {
  width: 100%;
  height: auto;
}

.topics article {
  background-color: white;
}

.readmore {
  text-decoration: none;
}

/*Classes*/


.classwrap {
  padding: 0 16px;
  margin-bottom: 32px;
}

.classcontainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
}

.class {
padding: 4px;
flex-flow: column;
justify-content: center;
color: #4A4A4A;
}

.classwrap .class img {
  width: 75%;
  height: auto;
}

.classwrap h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold !important;
  color: #4A4A4A;
}

.classinfo {
  display: block;
  margin: 16px;
  width: 65%;
  margin-left: 16px;
}

.classwrap .classcontainer {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 32px;
}

.classwrap .class img {
  height:auto;
  width: 100%;
}

.classwrap .class .classinfo {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom:24px;
}

.classwrap .class {
  min-width:265px;
  flex-basis: 25%;
  flex-grow:1;
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
  margin-bottom: 32px;
}

.classwrap h1 {
  text-align:center;
}

.classcontainer div:hover {
  background: #deb887;
  cursor: pointer;
}

/*Thesis*/


.exhibits {
  flex-direction: column;
  align-items: center;
}

.exhibits h1 {
  margin: 2rem 0 1.5rem 0;
  color: #4A4A4A;
  font-size: 3.5rem;
  font-weight: bold !important;
}

.exhibits-container {
  flex-direction: column;
  width: 60%;
  margin-left:1.5rem;
}

.exhibits-container h2 {
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #4A4A4A;
    letter-spacing: 3px;
}

.exhibits-container h3 {
    color: #4A4A4A;
    font-weight: 200;
    font-size: 1.3rem;
}

.exhibits-container video {
    width: 100%;
}

.topics {
    flex-direction: column;
    margin-left: 1.5rem;
    width: 40%;
    padding: 4px;
}

.video-container {
    width: 35%;
}

.topics img {
    padding: 1rem;
    width: 80%;
}

.exhibitinfo {
    width: 65%;
}

.exhibitinfo h2 {
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #4A4A4A;
    letter-spacing: 1px;
}

.exhibitinfo h3 {
    padding-left: 1rem;
    color: #4A4A4A;
    font-weight: 200;
    font-size: 1.3rem;
}

.topics article:hover {
    background: #deb887;
    cursor: pointer;
}

.responsiveclass {
  display: none;
}


/*Footer*/

footer {
  padding: 16px 24px;
  display:flex;
}
footer .footer {
  width: 100%;
}

/*start mobile nav*/

@media only screen and (max-width: 600px) {
.navigation li {
  display: none;
}

.mobilenav {
  display: flex;
}

.mobilenav ul li a {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
}

.mobilenav ul {
  width: 90%;
  justify-content: space-around;
}

.logo span {
  display: none;
}

.logo img {
  display: none;
}

.banner-img {
display: inline-grid;
width: 100%;
}

.banner {
width: 75%;
align-items: center;
}


.mobilenav img {
  width: 90%;
  display: flex;
  justify-content: space-around;
}


.links .navigation {
  display: none;
}


.articlecontents {
  display: none;
}

.topics .flex-box {
  width: 200%;
  align-items: center;
  justify-content: center;
}

.topics article {
  flex-direction: column;
justify-content: center;
align-items: center;
border: none;
}


.classwrap {
  display: none;
}

.responsiveclass {
  display: flex;
  flex-direction: column;
}

.responsiveclass h2 {
  background: white;
  padding: 1.5rem 0 1.5rem 1rem;
  margin: 0.25rem 1.5rem;
}

.responsiveclass h2 a {
  color: #4A4A4A;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
}

.responsiveclass h2:hover {
  background: #deb887;
}

.exhibits-container {
  width: 100%;
  align-items:: center;
}

.exhibits-container h2 {
  display: none;
}

.exhibits-container h3 {
  display: none;
}

.topics {
  display: none;
}

footer {
  border-top: solid 1px #694f44;
}
.footerlinks p {
  width: 8em;
  float:right;
}
.footerlinks ul {
  list-style:none;
  display:flex;
  justify-content: flex-end;
}
.footerlinks ul li {
  margin-left: 16px;
  text-decoration: none;
}
}
/*end mobile nav*/
